body {
	font-family: "Montserrat";
}

h1 {
	text-align: center;
	margin-top: 60px;
}

.circle {
	border-radius: 50%;
	border: 10px solid black;
	height: 300px;
	width: 300px;
	position: relative;
	background: white;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
}

.play {
	height: 250px;
	width: 250px;
	display: inline-block;
	margin-bottom: 0;
	float: left;
}

.tl {
	border-radius: 100% 0 0 0;
	border-top: 10px solid black;
	border-left: 10px solid black;
	background: red;
}

.tr {
	border-radius: 0 100% 0 0;
	border-top: 10px solid black;
	border-right: 10px solid black;
	background: green;
}
.bl {
	border-radius: 0 0 0 100%;
	border-bottom: 10px solid black;
	border-left: 10px solid black;
	background: yellow;
}

.br {
	border-radius: 0 0 100% 0;
	border-bottom: 10px solid black;
	border-right: 10px solid black;
	background: blue;
}

.row {
	height: 50%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.top {
	margin-top: 40px;
	margin-bottom: 0;
}

.tl:hover,
.tr:hover,
.bl:hover,
.br:hover {
	background-color: rgba(70, 130, 180, 0.2);
}

.row {
	width: 525px;
}

.fa-circle, span {
	position: relative;
	font-size: 20px;
	bottom: 300px;
	left: 70px;
	padding-right: 5px;
}

span:first-of-type {
	padding-right: 5px;
}